body{
    font-family: 'poppins',sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.first-color{
    color: rgb(197, 132, 11);
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 2%;
}
.half-width img{
    width: 75%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgba(70, 0, 43, 0.993), rgb(187, 20, 20));
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat:no-repeat;
}